body{
	background-image:url('https://photos-6.dropbox.com/t/2/AABA0W_QZM_aWFvcTVDp7tSBwYAG68mT6CnBCRc7ZbcgoQ/12/39665432/jpeg/32x32/1/_/1/2/tumblr_n6eszmeQMR1st5lhmo1_1280.jpg');
	background-size:cover;
	font-family:Raleway,Open Sans,Droid Sans,arial,sans-serif;
}
.bio{
	width:600px;
	height:200px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	text-align:center;
}
h1,h2{
	font-weight:100;
}
h2{
	font-size:15px;
}
.social-links{margin-top:50px;}
a{
	color:#333;
	text-decoration:none;
}
a:hover{text-decoration:underline}
.fa{margin:0 10px;}
